[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/abry/Desktop/Owlboy.desktop]
row=7
col=0

[/home/abry/Desktop/steam.desktop]
row=8
col=0

[/home/abry/Desktop/War Thunder.desktop]
row=6
col=0

[/home/abry/Desktop/Jet Racing Extreme Demo.desktop]
row=5
col=0

[A81405A21405749A]
row=12
col=0

[39d0249c-f80f-49c7-a0b5-6b32e4d65bff]
row=13
col=0

[Trash]
row=11
col=0

[/]
row=10
col=0

[/home/abry]
row=9
col=0

