#!/usr/bin/env sh

# New systemd management
alias scu='systemctl --user'

alias ga="git add"
alias gd="git difftool -t meld"
alias gds="git difftool -t meld --staged"
alias gco="git checkout"
alias gst="git status"
alias ggpur="git pull --rebase"
alias grm="git rebase master"

# Default command flags
alias mv="mv -v"
alias ln="ln -v"
alias cp="cp -v"
alias rm="rm -v"
#alias ls="ls --group-directories-first --dereference-command-line-symlink-to-dir --color=auto"
#alias ll="ls --dereference-command-line-symlink-to-dir -lh"
#alias ll="exa --color=auto -l --group-directories-first"
#alias t="exa -T"
#alias l="ls -la --dereference-command-line-symlink-to-dir"
#alias info='info --vi-keys --init-file=$XDG_CONFIG_HOME/infokey'
#alias pgrep="pgrep -l"
#alias grep="grep -i --color=auto"
#alias egrep="egrep --color=auto"

#alias dcr="docker-compose run --rm"
#alias dcdn="docker-compose down"
#alias dcup="docker-compose up"
#alias dcb="docker-compose build"

# Projects
files=('union.sh' 'mac.sh')
for f in $HOME/.aliases.d/*; do
    . "$f"
done
   

# vim:ft=sh
