!!!!!!!!!!!!!!!!!!!!!!!!
! snazzy color  scheme !
!!!!!!!!!!!!!!!!!!!!!!!!

*.background: #282a36
*.foreground: #eff0eb

! black
*.color0  : #2E3436
*.color8  : #686868

! red
*.color1  : #ff5c57
*.color9  : #ff5c57

! green
*.color2  : #5af78e
*.color10 : #5af78e

! yellow
*.color3  : #f3f99d
*.color11 : #f3f99d

! blue
*.color4  : #57c7ff
*.color12 : #57c7ff

! magenta
*.color5  : #ff6ac1
*.color13 : #ff6ac1

! cyan
*.color6  : #9aedfe
*.color14 : #9aedfe

! white
*.color7  : #f1f1f0
*.color15 : #eff0eb

! Dracula Xresources palette
! *.foreground: #F8F8F2
! *.background: #282A36
! black
! *.color0:     #000000
! *.color8:     #4D4D4D
! red
! *.color1:     #FF5555
! *.color9:     #FF6E67
! green
! *.color2:     #50FA7B
! *.color10:    #5AF78E
! yellow
! *.color3:     #F1FA8C
! *.color11:    #F4F99D
! blue
! *.color4:     #BD93F9
! *.color12:    #CAA9FA
! magenta
! *.color5:     #FF79C6
! *.color13:    #FF92D0
! cyan 
! *.color6:     #8BE9FD
! *.color14:    #9AEDFE
! white
! *.color7:     #BFBFBF
! *.color15:    #E6E6E6


! ------------------------------------------------------------------------------
! * configs
! ------------------------------------------------------------------------------

*.geometry: 		72x18
**letterSpace: 	    -1
*.lineSpace: 		0
**internalBorder:   24
**externalBorder:   0
**depth:            32
**saveline:         2000
**termName:         rxvt-256color
**iso14755:         false
**scrollBar:        false
**scrollBar_right:  false
*.perl-ext-common:  default,clipboard,url-select,keyboard-select
*.copyCommand:      xclip -i -selection clipboard
*.pasteCommand:     xclip -o -selection clipboard
*.keysym.M-c:       perl:clipboard:copy
*.keysym.M-v:       perl:clipboard:paste
*.keysym.M-C-v:     perl:clipboard:paste_escaped
*.keysym.M-Escape:  perl:keyboard-select:activate
*.keysym.Shift-Up:	command:\033]720;1\007
*.keysym.Shift-Down:command:\033]721;1\007

*.keysym.M-s:       perl:keyboard-select:search
*.keysym.M-u:       perl:url-select:select_next
*.urlLauncher:      /usr/bin/xdg-open
*.underlineURLs:    true
*.urlButton:        1
**buffered:         false          
*.urgentOnBell: 	True

! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! fonts
*.font: xft:Ubuntu\ mono\ derivative\ Powerline:pixelsize=14
*.boldFont: xft:Ubuntu\ mono\ derivative\ Powerline:bold:pixelsize=14
