dots/.emacs.d/auto-save-list/
dots/.emacs.d/elpa/
dots/.config/rofi/config.rasi
dots/.config/dunst/dunstrc
#dots/.Xresources
dots/.config/termite/config
dots/.config/mopidy/mopidy.conf*.save
dots/.config/akonadi*
dots/.config/chromium
dots/.config/spotifydots/.config/gtk*
dots/.config/kwallet*
dots/.config/nitrogen
dots/.config/kactivitymanagerd-statsrc
dots/.config/kcminputrc
dots/.config/kdeglobals
dots/.config/kglobalshortcutsrc
dots/.config/plasma-org.kde.plasma.desktop-appletsrc
dots/.config/plasma-workspace/env/wm.sh
dots/.config/plasmarc
dots/.config/plasmashellrc
dots/.config/pulse
dots/.config/bluedevilglobalrc
dots/.config/dconf/
dots/.config/drkonqirc
dots/.config/gtk-2.0/
dots/.config/gtk-3.0/
dots/.config/gtkrc
dots/.config/gtkrc-2.0
dots/.config/kcmdisplayrc
dots/.config/kwinrulesrc
dots/.config/mimeapps.list
dots/.config/spotify/
dots/.vim/contrib/
