# Ignore everything by default
*
!*/

# Linux + macOS
!dots/.zshrc
!dots/.zsh/get-plugins.sh
!dots/.oh-my-zsh
!dots/.bashrc
!dots/.bash_profile
!dots/.profile
!dots/.aliases
!dots/.emacs
!dots/.emacs.d/*.el
!dots/.tmux.conf

# Linux
!dots/.config/polybar/*
!dots/.config/bspwm/*
!dots/.config/sxhkd/*
!dots/.config/rofi/*
!dots/.config/compton/*
!dots/.config/dunst/*
!dots/.config/conky/conky.conf
!dots/.Xresources
!dots/.xinitrc
!dots/.local/bin/arch-packages
!dots/.local/bin/volume-change
!dots/.local/bin/brightness-change

# macOS
!dots/.chunkwmrc
!dots/.skhdrc
