<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATTEMPTS</key>
	<string>390</string>
	<key>LUT</key>
	<string>1547820115</string>
	<key>Stable Last Running Time 2</key>
	<string>13194967281273151</string>
	<key>UUID</key>
	<string>fd8b3ddb-c19b-4835-a47a-97a24b74fd5a</string>
	<key>hcc_reference_5d78f666ff9dc28502fff23a0b13fb93</key>
	<string>m6fhT+4aHf60fySSyPSVAjbETWDgYQtHZOpaRSbJxao=</string>
</dict>
</plist>
