kactivitymanagerdrc
kalarmrc
kateschemarc
kconf_updaterc
kded_device_automounterrc
kgpgrc
khotkeysrc
kmail2rc
kmailsearchindexingrc
kmixrc
korgacrc
kscreenlockerrc
ksplashrc
ktimezonedrc
kwinrc
plasma-localerc
plasma-nm
startupconfig
systemsettingsrc
