body{
    background-color: #f7f7f7;
    margin: 0px;
}
.mainCaption{
    font-family: 'roboto' arial, sans-serif;
    color: #434343;
    text-align: center;
    font-size: 22px;
    padding: 20px 0px;
    margin-top: 50px;
}
.mainImageWrapper img{
    height: 96px;
    width: auto;
    display: block;
    margin: 0 auto;
}